<title>Ethereal - Login</title>

<link rel="stylesheet" href="/static/LOGINstyle.css?v={randomtext}" type="text/css">
{% block body %}
{% if session['logged_in'] %}
<p>You're logged in already!</p>
{% else %}
 
<form action="/login" method="POST">
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<i><h1>Ethereal</h1></i>
				<h3>Login<h3>				
			</div>
 
			<div class="login-form">
				<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="Username" name="username">
				<label class="login-field-icon fui-user" for="login-name"></label>
				</div>
 
				<div class="control-group">
				<input type="password" class="login-field" value="" placeholder="Password" name="password">
				<label class="login-field-icon fui-lock" for="login-pass"></label>
				</div>
 
                <input type="submit" value="Log In" class="btn btn-primary btn-large btn-block" >
			    <br>
			</div>
		</div>
	</div>
</form>

<form action="/signup" method="POST">
	<center><p style="font-family: Arial;font-size: 15; color: White;">Not a user?</p>
	<div class="control-group">
		<input type="submit" value="Sign Up" class="btn1 btn1-primary btn1-large btn1-block" >
	</div>
	</center>

</form>

 
{% endif %}
{% endblock %}