<title>Ethereal - Signup</title>

<link rel="stylesheet" href="/static/LOGINstyle.css" type="text/css">
{% block body %}
{% if session['logged_in'] %}
<p>You're logged in already!</p>
{% else %}
 
<form action="/signedin" method="POST">
	<div class="login">
		<div class="login-screen">
			<div class="app-title">
				<i><h1>Ethereal</h1></i>
				<h3>Sign Up<h3>		
			</div>
 
			<div class="login-form">
				<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="Username" name="username">
				<label class="login-field-icon fui-user" for="login-name"></label>
				</div>

				<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="Full Name" name="fullname">
				<label class="login-field-icon fui-fulluser" for="login-fullname"></label>
				</div>

				<div class="control-group">
				<input type="text" class="login-field" value="" placeholder="Email" name="email">
				<label class="login-field-icon fui-email" for="login-email"></label>
				</div>
 
				<div class="control-group">
				<input type="password" class="login-field" value="" placeholder="Password" name="password">
				<label class="login-field-icon fui-lock" for="login-pass"></label>
				</div>
 
                <input type="submit" value="Sign Up" class="btn btn-primary btn-large btn-block" >
			    <br>
			</div>
		</div>
	</div>
</form>

{% endif %}
{% endblock %}